doctype html
html
  head
    title Clementine.js - The elegant and lightweight full stack JavaScript boilerplate.
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  body
    .container
      .login
        img(src='/public/img/clementine_150.png')
        br
        p.clementine-text Clementine.js
        a(href='/auth/github')
          #login-btn.btn
            img(src='/public/img/github_32px.png', alt='github logo')
            p LOGIN WITH GITHUB